:root{
    --cor-principal: rgba(246, 168, 64);
    --cor-branco: rgb(255, 255, 255);
}

html,body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
}
header{
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    /* height: 80px; */
}
.ini{
    display: flex;
    justify-content: space-around;
}
input{
    /* background-color: var(--cor-branco);
    color: gray;
    border-radius: 5px;
    display: flex;
    padding: 2px 120px 2px 20px;
    width: 8%; */
    background-color: var(--cor-principal);
    border-radius: 15px;
    color: var(--cor-branco);
    padding: 2px 120px 2px 20px;
    margin-top: 10px;
    margin-right: 40px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    gap: 70px;
    padding-top: 20px;
    color: var(--cor-menu-nav-texto);
}
footer{
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex-shrink: 0;
}
.container{
    flex: 1 0 auto;
}