{% extends 'base.html' %}

{% block cont %}
<div class="corpo">
    <img src="" alt="">
    <div class="form">
        <form action="{{url_for('cadastro')}}" method="post">
            <input type="text" name="usuario" placeholder="Usuario" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já possui conta? <a href="{{url_for('login')}}">Entrar</a></p>
    </div>
</div>
{% endblock %}

<!-- FALTA O CSS -->