{% extends 'base.html' %}


{% block cont %}
<div class="texto">
    <h1>Bem-Vindo à Biblioteca Online!</h1>
    <p>Um lugar pra você descobrir, explorar e se apaixonar por historias incríveis!</p>
    <a href="{{url_for('cadastro')}}">
        <button>Cadastre-se</button>
    </a>
</div>
<img src="{{ url_for('static', filename='img/inicio.png') }}" alt="logo" height="500" >
{% endblock %}

{% block estilo %}
<style>
    h1{
        font-size: 45px;
        color: black;
    }
    .texto p{
        font-size: 20px;
    }
    .container{
        flex-direction: row;
        justify-content: center;
    }
</style>
{% endblock %}