{% extends 'base.html' %}

{% block cont %}
<img src="{{ url_for('static', filename='img/inicio.png') }}" alt="logo">
    <form method="POST" action="{{ url_for('cadastro_livros') }}">
        
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br><br>

        <label for="autor">Autor:</label><br>
        <input type="text" id="autor" name="autor" required><br><br>

        <label for="ano">Ano de Publicação:</label><br>
        <input type="number" id="ano" name="ano"><br><br>

        <label for="genero">Gênero:</label><br>
        <input type="text" id="genero" name="genero"><br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <h3>Livros cadastrados:</h3>

    <ul>
        {% for livro in livros %}
            <li>
                <form method="POST" action="{{ url_for('editar', id=loop.index0) }}">

                    <input type="text" name="titulo" value="{{ livro.titulo }}">
                    <input type="text" name="autor" value="{{ livro.autor }}">
                    <input type="number" name="ano" value="{{ livro.ano }}">
                    <input type="text" name="genero" value="{{ livro.genero }}">

                    <button type="submit">Salvar</button>
                </form>

                <a href="{{ url_for('excluir', id=loop.index0) }}">
                    Remover
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block estilo %}
  <style>
    .container{
      display: flex;
    }

    form{
      margin-top: 200px;
      margin-left: 200px;
    }

  </style>
{% endblock %}